{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel ='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css'>
    <link rel ='stylesheet' href ="{% static 'main/css/main.css' %}">
    <link rel ='stylesheet' href='https://use.fontawesome.com/releases/v6.5.2/css/all.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/january-snack" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">       
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
</head>
<body>
    <aside>
        <div class = 'logotype'>
            <img src="{% static 'main/img/logo.png' %}" class = 'avatar_site' alt = 'Логотип'>
            <span class="logo">
                    {% if user.is_authenticated %}
                        Chatters
                    {% else %}
                        <a href="{% url 'home' %}">Chatters</a>
                    {% endif %}
                </span>
        </div>
       <div class = 'panel'>
            {% if user.is_authenticated %}   
            <a href="{% url 'news_home' %}" class ='link_page'>Новости</a>
            <a href="{% url 'create' %}" class='link_page'>Добавить новость</a>
            <a href="{% url 'profile' %}" class ='link_page'>Профиль</a>
            <a href="{% url 'logout' %}" class ='link_page'>Выйти из аккаунта</a>
            <a href="{% url 'chat' %}" class ='link_page'>Мессенджер</a>
            {% endif %}
        </div>
    </aside>
    {% block content %}
    <main>       
    </main>
    {% endblock %}
</body>
</html>