{% extends "main/layout.html" %}
{% load static %}
{% block title %}
    Войти
{% endblock %}
{% block content %}
    <div class="features">
        <div class="login-container">
            <form class="login-form" action = '{% url "login" %}' method = 'post'>
                {% csrf_token %}
                <h1>Вход</h1>
                <div class="input-group">
                    <label for="id_username" >Имя пользователя</label>
                    <input type="text" name="username" value="{% if form.username.value %}{{ form.username.value }}{% endif %}" id="id_username" class = 'polzovatel' placeholder="Введите ваше имя пользователя" required>
                </div>
                <div class="input-group">
                    <label for="id_password" >Пароль</label>
                    <input type="password" id="id_password" name="password" placeholder="Введите ваш пароль" required>
                </div>
                <button type="submit" class = 'enter_site_login'>Войти</button>
                {% if form.non_field_errors %}
                    <div class = 'features'>
                        <div class = errors_2>Вы неправильно ввели пароль или имя. Повторите попытку.</div>                   
                    </div>
                {% endif %}
            </form>
        </div>   
    </div>
{% endblock %}